<div ng-cloak>
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <img src="../assets/news-central-logo.png" width="80" height="80" class = "app-logo"/>
            </md-toolbar-filler>

            <div>
                <h2 class="md-toolbar-tools app-name">News Central</h2>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            News
                        </button>
                        <md-menu-content>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_create_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Create
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_edit_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_list_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    List
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_print_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Print
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Edit
                        </button>
                        <md-menu-content>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_undo_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Undo
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_redo_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Redo
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_content_cut_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Cut
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_content_copy_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Copy
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_content_paste_24px.svg"></md-icon>
                                <md-button ng-click="ctrl.sampleAction('paste', $event)">
                                    Paste
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="assets/img/icons/ic_find_replace_24px.svg"></md-icon>
                                <md-button ng-click="navigateTo()">
                                    Find and replace...
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>